body {
  zoom: 0.8;
  background-color: whitesmoke;
  font-family: "inter";
  margin-top: 0px;
  margin: 0px;
  padding: 0px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: whitesmoke;
}

header li {
  font-size: larger;
  margin-bottom: 30px;
}

.menu {
  display: flex;
  color: #410187;
}

.menu li {
  border: 0px solid red;
  list-style: none;
  margin: 0px 50px 0px 0px;
  padding: 5px;
}

.titulo-secao {
  font-weight: bolder;
  margin: 20vh 20px 0px 0px;
  font-size: 48px;
  color: #410187;
  text-align: center;
}

.produtos {
  display: grid;
  grid-template-columns: 100fr 60fr;
  margin-top: 10vh;
  margin-left: 5vw;
  margin-right: 5vw;
  cursor: default;
}

.produtos img {
  width: 95%;
}

.confiramais {
  padding: 0px 20px 0px 100px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10vh;
}

.confiramais > div {
  width: 23%;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .confiramais > div {
    width: 48%;
  }
}

.quero {
  border: 3px solid #7e33b7;
  border-radius: 8px;
  background-color: transparent;
  color: black;
  padding: 16px 24px;
  font-family: "Inter";
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: larger;
  cursor: grab;
}

.descprod {
  padding: 20px 20px 0 20px;
  margin: 20px 20px 0 20px;
}

.descprod h1 {
  font-size: 48px;
  margin: 0px;
}

.descprod h2 {
  margin: 0px;
  font-size: 36px;
}

.descprod p {
  margin: 30px 0px 100px 0px;
  font-size: 20px;
}

.descricao-produto {
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

.floating-button {
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  background-color: #7e33b7;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 999;
  transition: background-color 0.3s;
  transform: scale(1);
}

.floating-button img {
  width: 5vw;
  height: 5vw;
  color: white;
}

.floating-button:hover {
  background-color: #410287;
}

#carrinhoCount {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 2vw;
  height: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6vw;
  font-weight: bold;
  line-height: 2vw;
}

footer {
  margin-top: 50px;
  background-color: #410187;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 18px;
}

.watermark {
  color: #ffffff1f;
}
.footer-content {
  max-width: 600px;
  margin: 0 auto;
}
